body{
    background-color: white;
    color: black;
    background-size: 100% auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
    margin: 0 auto;
}

h1{
    font-size: 5rem;
    margin: 0;
    padding: 0;
    margin-bottom: 120px;
}

.bookshelf1{
    display: grid;
    grid-template-columns: 68px 50px 80px 100px auto;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    height: auto;
    align-items:center;
}

.book,
.bottle{
    height: 20px;
    width: 200px;
    border-radius: 5px;    
    transform: rotate(-90deg);
    border: 1px solid gray;
    padding: 15px 0;
    margin: 10px 0;
    font-weight: bold;
}

.bookRed{
    background-image: linear-gradient(to bottom, darkred, rgb(205,0,0), darkred);
    transform: rotate(-80deg);
    margin-right: 30px;
    color: black;
}
.bookBlue{
    background-image: linear-gradient(to bottom, darkblue,blue,darkblue);
}

.bookGreen{
    background-image: linear-gradient(to bottom, darkgreen,olive
    ,darkgreen);
}

.bookYellow{
    background-image: linear-gradient(to bottom, rgba(92, 92, 8),yellow
    ,rgba(92, 92, 8));
    transform: rotate(70deg);

}

.bottle{
    background-image: url(./images/bottle.png);    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
    padding: 0;
    margin: 0;
    border: none;
    transform: rotate(0deg);
}

.shelf{
    width: 70%;
    background-color: whitesmoke;
    box-shadow: 0px 5px 2px gray;
    height: 20px;
    margin: 0 auto;
    padding: 10px;
}

@media (max-width: 768px) {
    h1{
        font-size: 3rem;
    }
}